body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f8f9fa; /* Optional: background color for header */
}

.nav-left a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.nav-right {
  margin-left: auto; /* Pushes the nav-right section to the right */
}
.nav-right ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px; /* Adds space between the links */
  padding: 0;
  margin: 0;
}
.nav-right li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

.footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1200px;
}
.footer .nav-left a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 20px;
}
.footer .footer-right a {
  color: #0077B5;
  text-decoration: none;
  font-weight: bold;
}
.footer .footer-right a:hover {
  text-decoration: underline;
}
.footer .social-icons {
  width: 80px;
  height: auto;
}