
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
}
.home {
  display: flex;
  width: auto;
  border: 2px ;
  margin: 10px auto;
}


.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  font-size: 24px;
  line-height: 1;
  border: 1px ;
  padding: 0px 8px;
  margin: 0 auto;
}

.progress-text {
  margin-left: 600px;
}

.header-right {
  display: flex;
  gap: 20px;
}


.header3 {
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
}

.header2{
  width: 30px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
}

.header2 a, .header3 a {
  text-decoration: none; 
  color: inherit; 
}


.grid-container {
  display: grid;
  gap: 8px;
  padding: 6px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(32, 1fr);
}

.grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image1 {
  grid-row: 1 / span 7;
  grid-column: 1 / span 1;
}


.image2 {
  grid-row: 1 / span 6;
  grid-column: 2 / span 1;
}

.image3 {
  grid-row: 1 / span 10;
  grid-column: 3 / span 1;
}

.image4 {
  grid-row: 8 / span 8;
  grid-column: 1 / span 1;
}

.image5 {
  grid-row: 7 / span 7;
  grid-column: 2 / span 1;
}

.image6 {
  grid-row: 11 / span 7;
  grid-column: 3 / span 1;
}

.image7 {
  grid-row: 16 / span 8;
  grid-column: 1 / span 1;
}

.image8 {
  grid-row: 14 / span 9;
  grid-column: 2 / span 1;
}

.image9 {
  grid-row: 18 / span 9;
  grid-column: 3 / span 1;
}

.image10 {
  grid-row: 24 / span 9;
  grid-column: 1 / span 1;
}

.image11 {
  grid-row: 23 / span 10;
  grid-column: 2 / span 1;
}

.image12 {
  grid-row: 27 / span 6;
  grid-column: 3 / span 1;
}


.intro-section {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 20px; 
  padding: 0 20px; 
}

.intro-text h1 {
  width: 60%; 
  font-size: 22px; 
  line-height: 1.5; 
}


.service-lists {
  display: flex; 
  width: 40%; 
  justify-content: space-between; 
}

.service-list {
  text-align: right; 
  width: 50%; 
}

.service-list ul {
  list-style: none; 
  padding: 0;
}

.service-list ul li {
  font-size: 14px; 
  color: grey; 
  margin-bottom: 10px; 
}


.divider {
  border: 0;
  border-top: 1px solid #ccc; 
  margin: 20px 0;
}

.awards-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 0.5fr; 
  grid-gap: 20px; 
  padding: 0 20px; 
}

.award-row {
  display: contents; 
  padding: 20px 0; 
}

.award-title {
  font-weight: bold; 
}

.award-details {
  font-weight: bold; 
}

.award-info {
  font-size: 14px; 
  color: grey; 
  margin-top: 5px; 
}

.award-year {
  text-align: right; 
  font-weight: bold; 
}


.divider {
  border: 0;
  border-top: 1px solid #ccc; 
  margin: 20px 0; 
}

.footer {
  display: flex;
  justify-content: space-between; 
  padding: 20px; 
  font-size: 16px; 
}

.footer span {
  font-weight: bold;
}

.footer-right {
  display: flex;
  gap: 40px; 
  align-items: center; 
}

.footer-right a {
  color: #0077B5; 
  text-decoration: none; 
  font-weight: bold; 
}

.footer-right a:hover {
  text-decoration: underline; 
}

.social-icons {
  width: 80px; 
  height: auto; 
}

